@import '../node_modules/reset-css/reset.css';

body
{
    font-family: 'Roboto', sans-serif;
}

.programate
{
    bottom : 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position : absolute;
    width : 100%;
}

.programate-wrap
{
    box-shadow : 1px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height : 50px;
    width : 95%;
}

.programate-left
{
    color : #006eff;
    font-size: 13px;
    margin-left : 5%;
}

.programate-right
{
    font-size: 13px;
    margin-right : 5%;
}

.programate-right__crafted
{
    color : #006eff;
    display : flex;
    justify-content : center;
    align-items : center;
}

.programate-right__crafted__heart
{
    color : red;
    margin-left : .2em;
    width : 18px;
}


.programate-right__crafted__logo
{
    margin-left : .6em;
    width : 140px;
}
